---
layout: layouts/listing.njk
permalink: /eventi/index.html
title: Eventi
description: "Eventi speciali di yoga e benessere: Yoga al Mare, Summer Vibes, Solstizio e laboratori. Unisciti alla community Ganesha Deva in Sicilia."
hero: /img/hero/cala-rossa.jpg
collectionName: eventi
pageHeroTitle: Eventi
pageHeroSubtitle: "Divertimento, armonia e benessere, esplora i nostri eventi, unisciti alla community, dove insieme condivideremo yoga, natura, bellezza e libertà."
listingHeader:
  eyebrow: Eventi
  heading: "Esplora la Bellezza dell'Essere: Eventi Speciali di Yoga e Benessere"
---
